<%= render("_html_header.erb") %>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script> 
<script type="text/javascript" src="../rsc/gacha.js"></script>

<h1>ガチャ引くぞい</h1>

<% if !c[:e].nil? %>
	<%= CGI.escapeHTML(c[:e].message)%><br/>
<% end %>

<% if !c[:monster].nil? %>
	<%= CGI.escapeHTML(c[:monster].name) + "をGETしたよ" %><br/>
<% end %>

<h2>モンスターガチャ！</h2>
gem100でモンスター一匹やるよ

<form action="" method="post">
	<input type="hidden" name="gacha_id" value="2"/>
	<input type="submit" value="回すよ"/>
</form>

<b>お前のgem数</b>
<div id="gem"></div><br/>

<b>お前のmoney数</b>
<div id="money"></div><br/>

<b>所持モンスター</b>

<table border="5">
	<thead>
		<tr>
		<th width="500">なまえ</th>
		<th width="120">レア度</th>
		</tr>
	</thead>
	<tbody id="monsters_list">
	</tbody>
</table>
<br/>

<div id="range"></div>
<input type="hidden" id="next_offset" value="0">
<input type="hidden" id="back_offset" value="0">

<input type="button" id="next" value="次の10件" onclick="get_monsters(document.getElementById('next_offset').value)">
<input type="button" id="next" value="前の10件" onclick="get_monsters(document.getElementById('back_offset').value)"><br/>

<script>
	$(document).ready(function(){
		get_monsters(0);
		get_wallet();
	});
</script>




<%= render("_html_footer.erb") %>


