<%= render("_html_header.erb") %>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script> 
<script type="text/javascript" src="../rsc/main.js"></script>

<h2>マイページ</h2>
<a href ="gacha">ガチャひくよ</a><br/><br/>
<a href ="gradeup">モンスター合成</a><br/><br/>
<a href ="websocket">圧倒的なチャット</a><br/><br/>
<a href ="rsc/quest.html">クエスト</a><br/><br/>
<a href ="rsc/party.html">パーティ編集</a><br/><br/>

<% if !c[:e].nil? %>
	<%= CGI.escapeHTML(c[:e].message)%><br/>
<% end %>

<% if !c[:monster].nil? %>
	<%= CGI.escapeHTML(c[:monster].name) + "をGETしたよ" %><br/>
<% end %>


<b>お前のgem数</b>
<div id="gem"></div><br/>

<b>お前のmoney数</b>
<div id="money"></div><br/>

<b>所持モンスター</b>

<table border="5">
	<thead>
		<tr>
		<th width="500">なまえ</th>
		<th width="120">レア度</th>
		<th width="120">HP</th>
		<th width="120">MP</th>
		<th width="120">SPEED</th>
		<th width="120">ATK</th>
		<th width="120">DEF</th>
		</tr>
	</thead>
	<tbody id="monsters_list">
	</tbody>
</table>
<br/>

<div id="range"></div>
<input type="hidden" id="next_offset" value="0">
<input type="hidden" id="back_offset" value="0">

<input type="button" id="next" value="次の10件" onclick="get_monsters(document.getElementById('next_offset').value)">
<input type="button" id="next" value="前の10件" onclick="get_monsters(document.getElementById('back_offset').value)"><br/>


<b>所持アイテム</b>

<table border="5">
	<thead>
		<tr>
		<th width="500">なまえ</th>
		<th width="120">種類</th>
        <th width="120">値</th>
        <th width="120">所持個数</th>
		</tr>
	</thead>
	<tbody id="item_list">
	</tbody>
</table>
<br/>

<div id="item_range"></div>
<input type="hidden" id="item_next_offset" value="0">
<input type="hidden" id="item_back_offset" value="0">

<input type="button" value="次の10件" onclick="get_items(document.getElementById('item_next_offset').value)">
<input type="button" value="前の10件" onclick="get_items(document.getElementById('item_back_offset').value)"><br/>


<script>
	$(document).ready(function(){
        get_monsters(0);
        get_items(0);
		get_wallet();
	});
</script>
<%= render("_html_footer.erb") %>