<%= render("_html_header.erb") %>
<h2>マイページ</h2>
<a href ="gacha">ガチャひくよ</a><br/><br/>
<a href ="gradeup">モンスター合成</a><br/><br/>
<a href ="websocket">圧倒的なチャット</a><br/><br/>
<%= render("_html_footer.erb") %>