<%= render("_html_header.erb") %>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script> 
<script type="text/javascript" src="../rsc/chat.js"></script>


<div id="debug"></div>

<input type="text" id="message" value="OHAYOU"/>
<input type="button" id="send" value="send"/><br/>
<input type="button" value="退出" id="logout"/>
<ul id="msg-area"/>




<%= render("_html_footer.erb") %>

